/*font-family: 'Josefin Sans', sans-serif;*/

/*primary colors: #ce9797, ##f96262
neutral colors: #413a3a*/

.attribution { 
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }